################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/OrderingSystem.AOProgramming.Sample/bin/Debug/net8.0
/OrderingSystem.AOProgramming.Sample/obj
*.user
